/* Write your CSS here */
.about-details {
  display: flex;
}

.skills,
.education {
  padding: 0;
  margin-right: 50px;
  list-style-type: none;
  flex-grow: 1;
}

.list-item {
  margin-bottom: 10px;
}
